input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

input:invalid:required {
  background-color: pink;
}
input:invalid:minLength {
  background-color: blue;
}
input:invalid:maxLength {
  background-color: yellow;
}
