/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 ***********custom styles****************
 */
body {
    background: #293f50;
    color: #888; /* this gray color looks a lot better for text on white backgrounds*/
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #648880; /* greenish color for headers */
}


h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}


h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

strong { /* specifying them again after reset got rid of it*/
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

/*
 *****************LINKS**********************
 */

a {
    color: #648880;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

/*
 ***************BUTTONS*****************
 */

button {
    color: #648880;
    background: #293f50;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
}

/*
 ***************INPUT FORMS*************
 */

select,
input,
textarea {
    color: #648880;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
}

/*
 ************POPUP BOX*****************
 */

.popup-background {
    padding: 15px;
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: #648880;
    background: #a1d3b0;
    z-index: 1000;
    transition: all 0.5s ease;
    border-radius: 15px;
}

/*
 **************CLEARFIX****************
 */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/*
 *************ROWS*********************
 */

.row {
    background: #fff;
}


/*
 *************GRID*********************
 */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container,
.grid {
    margin: 0 auto;
    width: 100%;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.col-2-5 {
    width: 40%;
}

.col-3-5 {
    width: 60%;
}

.col-1-5 {
    width: 20%;
}

.col-1-5,
.col-2-5,
.col-3-5 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-2-5,
.col-3-5 {
}


/*
 ***********PRIMARY-HEADER*****************
 */

 .logo {
    float: left;
 }

 .primary-nav {
    padding: 15px 20px;
 }


/*
 ***********PRIMARY-FOOTER******************
 */

.primary-footer {
    padding: 15px 20px;
}

.primary-footer small {
    float: left;
}

/*
 ****************NAVIGATION***************
 */

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}

/*
 ****************APP********************
 */

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    opacity: 0.6;
    color: black; background: #000000;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

/*
 ****************MAIN********************
 */

.main-img {
    width: 100%;
    vertical-align: middle; /* image acts like text, so there is a white space undereneath without this line */
}

.signup-button {
    display:block;
    margin: 40% auto;
}


/*
 *************QUESTION INDEX******************
 */

td {
    padding-bottom: 20px;
}

/*
 *************QUESTION SUMMARY***************
 */


/*
 *************QUESTION DETAIL***************
 */

.vote-active {
    background: #a1d3b0;
}

.percent-bar-default {
    width: 1%;
    background: #f6f1d3;
    transition: all 1.0s ease;
}

.percent-bar-full {
    width: 50%;
}

.bar-color-SaC {
    fill: #93a1a1;
}
.bar-color-SaM {
    fill: #eee8d5;
}
.bar-color-H {
    fill: #b58900;
}
.bar-color-EaR {
    fill: #cb4b16;
}
.bar-color-CaI {
    fill: #dc322f;
}
.bar-color-S {
    fill: #d33682;
}
.bar-color-BaF {
    fill: #6c71c4;
}
.bar-color-EaM {
    fill: #268bd2;
}
.bar-color-FaR {
    fill: #2aa198;
}
.bar-color-PaG {
    fill: #859900;
}

.bar:hover {
    fill: #000000;
}
