.popup-box-overlay {
    padding: 15px;
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white; background: #666666;
    z-index: 1000;
    transition: all 0.5s ease;
}
/*
.popup-box-overlay-visible {
    opacity: 1.0;
}*/
