.question-detail-container {
    width: 960px;
    margin: 0 auto;
}

.question-detail-question {
    margin: 12px 0;
}

.question-detail-question-text {
    display: inline-block;
    width: 80%;
}

.question-detail-question-text h2{
    font-size: 22px;
}

.question-detail-answer-button {
    display: inline-block;
    width: 20%;
    text-align: right;
}

/* container for all answers */
.question-detail-answers {
    margin: 0 0 0 40px;
}

.question-detail-answer {
    margin: 12px 0;
}
.question-detail-answer-text {
    display: inline-block;
    width: 80%;
}

.question-detail-vote-form {
    display: inline-block;
    width: 20%;
    text-align: right;
}

/* buttons */

.vote-button, .new-answer-button {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

.vote-active:hover {
    background-color: lightgreen;
}
.vote-inactive:hover, .new-answer-button:hover {
    background-color: lightgrey;
}

.vote-active {
    background-color: green;
}
.vote-inactive, .new-answer-button {
    background-color: grey;
}

